<h2>Edit Goal</h2>

<form action="<%= goal_url %>" method="POST">
    <input type="hidden" name="_method" value="PATCH">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <label>
        Title
        <input type="text" name="goal[title]" value="<%= @goal.title %>" >  
    </label>

    <label>
        Body
        <input type="text" name="goal[body]" value="<%= @goal.body %>" >
    </label>

    <label>
        Public?
        <input type="checkbox" name="goal[public]"
        <%= 'checked="true"' if @goal.public %>>
    </label>

    <label>
        Completed?
        <input type="checkbox" name="goal[completed]"
        <%= 'checked="true"' if @goal.completed %>>
    </label>

    <input type= "submit" value="Submit">
</form>